body
{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Raleway, sans-serif;
}

main
{
    margin-top: 40px;
}

main > .container-fluid > .row > .col
{
    border-left: 2px solid #007bff;
    margin-left: 10px;
}

main > .container-fluid > .row > .col > form
{
    margin-top: 20px;
}

main > .container-fluid > .row > .col > table
{
    margin-top: 20px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #007bff;
	opacity: 1;
	color: white;
	text-align: center;
	font-size: medium;
}

.footer a {
	text-decoration: none;
	color: #253858
}

i:hover {
	color: #0357d1
}