﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

    <!-- Popper.js -->
    <script src="/js/popper.min.js" type="text/javascript"></script>

    <!-- Bootstrap 4 Beta. -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>

    <!--Bootbox-->
    <script src="/js/bootbox.min.js" type="text/javascript"></script>

    <!-- Google Web Fonts - Open Sans i Raleway. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- Font Awesome. -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Style do Edytowania. -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Mała Biblioteka</a>
            <span class="navbar-text text-white">Autor: [Imię i Nazwisko]</span>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="messageContainer" class="alert alert-success" role="alert">
                        [Miejsce na Wyświetlanie Komunikatów]
                    </div>
                </div>
            </div>
            <div class="row">
                <form>
                    <input autocomplete="off" type="text" name="search" id="search"/>
                </form>
                <div id="searchResult" style="display:none">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Książki</h1>
                    <div class="button-group">
                    </div>
                    <form action="/">
                        <div class="form-group">
                            <label for="">Tytuł</label>
                            <input id="titleInput" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Autor</label>
                            <input id="authorInput" class="form-control" type="text">
                        </div>
                        <button id="bookSubmitButton" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Dodaj</button>
                    </form>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                        <tbody id="booksList">
                            <tr>
                                <td>[Tytuł]</td>
                                <td>[Autor]</td>
                                <td>
                                    <div id="booksManagementButtons" class="button-group">
                                        <button class="btn btn-primary btn-sm">Edytuj</button>
                                        <button class="btn btn-danger btn-sm">Usuń</button>
                                        <button class="btn btn-info btn-sm">Wypożycz</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h1>Czytelnicy</h1>
                    <div class="button-group">
                    </div>
                    <form action="/">
                        <div class="form-group">
                            <label for="">Imię i nazwisko</label>
                            <input id="nameInput" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Wiek</label>
                            <input id="ageInput" class="form-control" type="number">
                        </div>
                        <button id="readerSubmitButton" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Dodaj</button>
                    </form>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Wiek</th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                        <tbody id="readersList">
                            <tr>
                                <td>[Imię i nazwisko]</td>
                                <td>[Wiek]</td>
                                <td>
                                    <div class="button-group" id="readerManagementButtons">
                                        <button class="btn btn-primary btn-sm">Edytuj</button>
                                        <button class="btn btn-danger btn-sm">Usuń</button>
                                        <button class="btn btn-info btn-sm">Wybierz</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h1>Wypożyczone</h1>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Czytelnik</th>
                                <th>Książka</th>
                                <th>Data</th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                        <tbody id="lendsList">
                            <tr>
                                <td>[Imię i nazwisko]</td>
                                <td>[Tytuł]</td>
                                <td>[Data]</td>
                                <td>
                                    <div class="button-group" id="lendsManagementButtons">
                                        <button class="btn btn-warning btn-sm">Oddano</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>